<h1>Welcome to SocialApp by Adam Righeibi</h1>
<p>
<br><h2>Jump To:</h2>
<h3><%= link_to "GitHub", 'https://github.com/AdamRig/socialapp' %>
<br><%= link_to "Register New User", new_user_path %>
<br><%= link_to "Sign in to existing account", login_path %>
</h3></p>